.footer {
	width: 100%;
	background-color: $mainBgColor;
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__top-wrapper {
		position: relative;
		z-index: 1;
		max-width: 1920px;
		overflow: hidden;
		& img {
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			@media (max-width: 768px){
				width: 133%;
			}
		}
		@media (max-width: 768px){
			padding-top: 18.229vw;
			background-color: #dacbae;
		}
	}
	&__title-container {
		position: absolute;
		top: 120px;
		left: 220px;
		@media (max-width: 1920px){
			top: 6.25vw;
			left: 11.458vw;
		}
		@media (max-width: 768px){
			top: 15vw;
			left: 4vw;
		}
		@media (max-width: 500px){
			top: 10vw;
			left: 4vw;
		}
	}
	&__title {
		font-size: 65px;
		color: $mainFontColor;
		line-height: 100%;
		letter-spacing: 3px;
		@media (max-width: 1920px){
			font-size: 3.385vw;
			letter-spacing: 0.156vw;
		}
		@media (max-width: 768px){
			font-size: 32px;
		}
		@media (max-width: 600px){
			font-size: 26px;
		}
		@media (max-width: 500px){
			font-size: 22px;
		}
	}
	&__subititle {
		font-size: 22px;
		color: $mainFontColor;
		line-height: 100%;
		letter-spacing: 41px;
		margin-top: 0px;
		margin-left: 2px;
		@media (max-width: 1920px){
			letter-spacing: 2.135vw;
			margin-left: 0.104vw;
			font-size: 1.146vw;
		}
		@media (max-width: 768px){
			font-size: 20px;
			letter-spacing: 20px;
			margin-top: 10px;
		}
		@media (max-width: 600px){
			margin-top: 6px;
			font-size: 18px;
			letter-spacing: 17px;
		}
		@media (max-width: 600px){
			margin-top: 3px;
			font-size: 14px;
			letter-spacing: 13px;
		}
	}
	&__bottom-wrapper {
		height: 700px;
		display: flex;
		justify-content: center;
		width: 100%;
		z-index: 2;
		@media (max-width: 1920px){
			height: 36.458vw;
		}
		@media (max-width: 1300px){
			height: 40vw;
		}
		@media (max-width: 768px){
			height: auto;
		}
	}
	&__bottom-content {
		margin-top: -130px;
		display: flex;
		justify-content: center;
		gap: 4px;
		width: 100%;
		padding-bottom: 150px;
		&>* {
			width: 100%;
		}
		@media (max-width: 1920px){
			margin-top: -6.771vw;
			padding-bottom: 7.813vw;
		}
	}
	&__bottom-left-wrapper {
		background-color: $mainBgColor;
		border-radius: 0 150px 0 0;
		display: flex;
		height: 100%;
		justify-content: flex-end;
		box-shadow: -1px -20px 20px 0px rgba(0,0,0,0.1);
		-webkit-box-shadow: -1px -20px 20px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: -1px -20px 20px 0px rgba(0,0,0,0.1);
		@media (max-width: 1920px){
			border-radius: 0 7.813vw 0 0;
		}
		@media (max-width: 768px){
			display: none;
		}
	}
	&__bottom-left-content {
		max-width: calc(1920px / 2 - 2px);
		width: 100%;
		height: 100%;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__bottom-left-decor-image {
		position: absolute;
		top: 35px;
		left: 0px;
		@media (max-width: 1920px){
			max-width: 20.938vw;
			top: 1.823vw;
		}
	}
	&__bottom-left-logo {
		@media (max-width: 1920px){
			max-width: 14.427vw;
			height: auto;
		}
	}
	&__bottom-right-wrapper {
		background-color: $mainBgColor;
		border-radius: 150px 0 0 0;
		box-shadow: -1px -20px 20px 0px rgba(0,0,0,0.1);
		-webkit-box-shadow: -1px -20px 20px 0px rgba(0,0,0,0.1);
		-moz-box-shadow: -1px -20px 20px 0px rgba(0,0,0,0.1);
		@media (max-width: 1920px){
			border-radius: 7.813vw 0 0 0;
		}
		@media (max-width: 768px){
			border-radius: 100px 0 0 0;
			padding: 40px 30px 200px 30px;
		}
		@media (max-width: 500px){
			padding: 40px 30px 160px 30px;
			border-radius: 60px 0 0 0;
		}
		@media (max-width: 400px){
			padding: 20px 20px 140px 20px;
		}
	}
	&__bottom-right-content {
		max-width: calc(1920px / 2 - 2px);
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__bottom-right-form {
	}
}

.footer-form {
	background: rgb(217,217,217);
	background: linear-gradient(180deg, rgba(217,217,217,1) 0%, rgba(183,149,67,1) 100%);
	border-radius: 50px;
	max-width: 600px;
	width: 100%;
	@media (max-width: 1500px){
		max-width: 33vw;
		border-radius: 30px;
	}
	@media (max-width: 1200px){
		max-width: 40vw;
	}
	@media (max-width: 768px){
		height: auto;
		max-width: 450px;
		width: 100%;
		border-radius: 50px;
	}
	@media (max-width: 500px){
		border-radius: 40px;
	}
	&__wrapper {
		padding: 26px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 22px;
		@media (max-width: 1920px){
			gap: 1.146vw;
			padding: 2vw;
		}
		@media (max-width: 768px){
			padding: 20px 16px;
			gap: 25px;
		}
	}
	&__title {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: $mainFontColor;
	}
	&__title-top {
		font-family: $decorFont;
		font-size: 48px;
		@media (max-width: 1920px){
			font-size: 2.5vw;
		}
		@media (max-width: 768px){
			font-size: 48px;
		}
		@media (max-width: 600px){
			font-size: 40px;
		}
	}
	&__title-bottom {
		font-size: 36px;
		text-transform: uppercase;
		@media (max-width: 1920px){
			font-size: 1.875vw;
		}
		@media (max-width: 768px){
			font-size: 36px;
		}
		@media (max-width: 600px){
			font-size: 27px;
		}
	}
	&__inputs-container {
		display: flex;
		flex-direction: column;
		gap: 17px;
		width: 100%;
		@media (max-width: 1500px){
			gap: 12px;
		}
		@media (max-width: 1100px){
			gap: 5px;
		}
		@media (max-width: 992px){
			gap: 2px;
		}
		@media (max-width: 768px){
			gap: 16px;
		}
	}
	&__input-wrapper {
		width: 100%;
		border-bottom: 1px solid $mainFontColor;
		display: flex;
		align-items: center;
		@media (max-width: 768px){
			padding-bottom: 4px;
		}
	}
	&__input-title {
		font-size: 20px;
		word-wrap: break-word;
		width: 100%;
		@media (max-width: 1300px){
			font-size: 17px;
		}
		@media (max-width: 1100px){
			font-size: 16px;
		}
		@media (max-width: 768px){
			font-size: 20px;
		}
		@media (max-width: 500px){
			font-size: 18px;
		}
	}
	&__input-input {
		width: 100%;
		background-color: transparent;
		outline: none;
		font-size: 16px;
	}
	&__input-icon {
	}
	&__book-button {
		display: flex;
		align-items: center;
		gap: 8px;
		&:hover {
			transition: all 0.3s ease 0s;
			&>* {
				color: rgba(255,234,114,1);
			}
			&>*:last-child {
				transition: all 0.3s ease 0s;
				background: rgb(255,255,255);
				background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,240,181,1) 36%, rgba(255,234,114,1) 83%);
			}
		}
	}
	&__book-button-text {
		color: $mainFontColor;
		font-size: 24px;
		text-transform: uppercase;
		@media (max-width: 1100px){
			font-size: 20px;
		}
		@media (max-width: 768px){
			font-size: 24px;
		}
	}
	&__book-button-img-wrapper {
		border-radius: 50%;
		width: 40px;
		height: 40px;
		border: 1px solid $mainFontColor;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgb(255,255,255);
		background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(232,202,84,1) 36%, rgba(213,190,58,1) 83%);
		transition: all 0.3s ease 0s;
		& img {
			max-width: 20px;
			height: auto;
			transform: rotate(180deg);
			@media (max-width: 1100px){
				max-width: 15px;
			}
			@media (max-width: 768px){
				max-width: 20px;
			}
		}
		@media (max-width: 1100px){
			width: 30px;
			height: 30px;
		}
		@media (max-width: 768px){
			width: 40px;
			height: 40px;
		}
	}
}

.date-wrapper {
	& input {
		font-size: 18px;
		max-width: 125px;
		margin-right: 1.5px;
		color: #000;
		filter: invert(13%) sepia(21%) saturate(1716%) hue-rotate(358deg) brightness(90%) contrast(94%);
	}
}
.time-wrapper {
	& input {
		font-size: 18px;
		max-width: 80px;
		color: #000;
		filter: invert(13%) sepia(21%) saturate(1716%) hue-rotate(358deg) brightness(90%) contrast(94%);
	}
}
.clients-wrapper {
	& input {
		border: 1px solid transparent;
		padding: 0 5px;
		margin-right: 5px;
		width: 100%;
		max-width: 50px;
		background-color: rgba($color: #FFF, $alpha: 0.2);
		border-radius: 5px;
		text-align: right;
		// &:focus {
		// 	border-radius: 3px;
		// 	border: 1px solid rgba($color: #000000, $alpha: 0.4);
		// }
	}
	& img {
		margin-right: 2px;
	}
}

.text-input-wrapper {
	& input {
		border: 1px solid transparent;
		padding: 0 5px;
		margin-right: 5px;
		background-color: rgba($color: #FFF, $alpha: 0.2);
		border-radius: 5px;
		text-align: right;
		// &:focus {
		// 	border-radius: 3px;
		// 	border: 1px solid rgba($color: #000000, $alpha: 0.4);
		// }
	}
}