.header {
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: #666;
	&__container {
		height: 100vh;
		position: relative;
		top: 0px;
		left: 0px;
		display: flex;
		justify-content: center;
	}
	&__background {
		max-width: 1920px;
		height: 100%;
		width: 100%;
	}
	&__nav-menu {
	}
}

.nav-menu {
	position: fixed;
	bottom: 0px;
	width: 100%;
	z-index: 1000;
	margin-bottom: 0px;
	transition: all 0.3s ease 0s;
	&__container {
		margin-bottom: -5px;
		display: flex;
		gap: 30px;
		justify-content: space-between;
		background-color: #EBE6DB;
		border-radius: 30px 30px 0px 0px;
		height: 176px;
		box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
		-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
		position: relative;
		padding: 0px 30px;
		@media (max-width: 1920px){
			height: 9.167vw;
			padding: 0px 1.563vw;
		}
	}
	&__vin-image-container {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		display: flex;
		justify-content: center;
		z-index: 1;
	}
	&__vine-image {
		bottom: -100px;
		max-width: 150px;
		@media (max-width: 1600px){
			max-width: 9.375vw;
		}
		@media (max-width: 1300px){
			max-width: 8vw;
		}
	}
	&__left-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		z-index: 2;
	}
	&__left-list {
		display: flex;
		gap: 30px;
		@media (max-width: 1920px){
			gap: 1.563vw;
		}
	}
	&__left-list-item {
	}
	&__center-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 2;
	}
	&__center-button {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 25px;
		z-index: 1500;
		background-color: #33230A;
		padding: 15px 35px;
		color: #EBE6DB;
		border-radius: 30px;
		font-size: 20px;
		@media (max-width: 1920px){
			font-size: 1.042vw;
			padding: 0.781vw 1.823vw;
			gap: 1.302vw;
		}
		& div {
			white-space: nowrap;
		}
		&__center-star-marker {
			height: 20px;
			width: 20px;
			@media (max-width: 1920px){
				height: 1.042vw;
				width: 1.042vw;
			}
		}
	}
	&__right-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		z-index: 2;
	}
	&__right-list {
		display: flex;
		gap: 30px;
		@media (max-width: 1920px){
			gap: 1.563vw;
		}
	}
	&__right-list-item {
	}
}

.hidden-nav {
	transition: all 0.3s ease 0s;
	margin-bottom: -300px;
}

.nav-button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: $mainFont;
	font-size: 24px;
	background-color: #EDEDED;
	color: $mainFontColor;
	border-radius: 30px;
	border: 1px solid rgba($color: $mainFontColor, $alpha: 0.5);
	padding: 14px 27px;
	transition: all 0.3s ease 0s;
	&:hover {
		transition: all 0.3s ease 0s;
		cursor: pointer;
		background-color: $mainFontColor;
		color: $mainBgColor;
	}
	@media (max-width: 1920px){
		padding: 0.729vw 1.406vw;
		font-size: 1.25vw;
		border-radius: 1.563vw;
	}
}

