


.section-block {
	width: 100%;
	display: flex;
	justify-content: center;
}
.section-block-container {
	max-width: 1920px;
	width: 100%;
}
.section-container-vertical-padding {
	padding: 100px 0px;
	@media (max-width: 1920px){
		padding: 5.208vw 0px;
	}
	@media (max-width: 768px){
		padding: 9vw 0px;
	}
	@media (max-width: 500px){
		padding: 50px 0px;
	}

}

.block-title {
	font-family: $mainFont;
	color: $mainFontColor;
	font-size: 64px;
	line-height: 80px;
	text-transform: uppercase;
	@media (max-width: 1920px){
		font-size: 3.333vw;
	}
	@media (max-width: 768px){
		font-size: 48px;
	}
	@media (max-width: 500px){
		font-size: 40px;
	}
	@media (max-width: 450px){
		font-size: 32px;
	}
}