@use "sass:math";

@import url(https://fonts.googleapis.com/css?family=Mr+De+Haviland:regular);
@import url(https://fonts.googleapis.com/css?family=Song+Myung:regular);

// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================

$mainFont: 'Song Myung', Arial, sans-serif;
$decorFont: 'Mr De Haviland', Arial, sans-serif;
$fontSize: 30px; 

// Основні кольори
$mainFontColor: #33230A;
$mainBgColor: #EADFCA; 


// Палітра кольорів
// @import "base/colors-palette";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320px;
// Ширина полотна (макету)
$maxWidth: 1440px;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1160px;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30px;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: em($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: em(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: em(767.98); // Телефони L
$mobileSmall: em(479.98); // Телефони S

