@import "./common/null.scss";
@import "./common/swiper.scss";
@import "./common/loader.scss";
@import "./header/header.scss";
@import "./footer/footer.scss";
@import "./common/common.scss";
@import "./home/home.scss";


html {
	height: 100%;
	width: 100%;
}
body {
	max-width: 100vw;
	height: 100%; 
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
}
main {
	width: 100%;
	display: flex;
	flex-direction: column;
}

::-webkit-scrollbar {
	display: none;
}