@import "./common/null.scss";
@import "./common/swiper.scss";
@import "./header/header.scss";
@import "./footer/footer.scss";
@import "./common/common.scss";
@import "./home/home.scss";
@import "./home/sabor-y-charla.scss";
@import "./home/opening-hour.scss";
@import "./home/bienvenido.scss";
@import "./home/tapas.scss";
@import "./home/desayuno.scss";
@import "./home/comida.scss";
@import "./home/cocteles.scss";
@import "./home/contact-us.scss";

html {
	height: 100%;
	width: 100%;
}
body {
	height: 100%; 
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
}
main {
	width: 100%;
	display: flex;
	flex-direction: column;
}