.comida {
	background-color: $mainBgColor;
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		padding: 70px 0 0 0;
		gap: 80px;
		@media (max-width: 1920px){
			padding: 3.646vw 0 0 0;
			gap: 4.167vw;
		}
		@media (max-width: 768px){
			padding: 70px 0 0 0;
			gap: 32px;
		}
		@media (max-width: 500px){
			gap: 15px;
		}
	}
	&__decor-image {
		position: absolute;
		left: 0px;
		top: 0px;
		@media (max-width: 1920px){
			max-width: 38.75vw;
		}
		@media (max-width: 768px){
			display: none;
		}
	}
	&__decor-image-mobile {
		position: absolute;
		left: 0;
		top: 0;
		width: 45%;
		@media (min-width: 769px){
			display: none;
		}
		@media (max-width: 600px){
			top: 15px;
		}
		@media (max-width: 450px){
			top: 30px;
		}
	}
	&__title {
		z-index: 10;
	}
	&__content-wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 100px;
		@media (max-width: 1920px){
			gap: 5.208vw;
		}
		@media (max-width: 768px){
			gap: 3vw;
			display: flex;
			flex-direction: column;
		}
	}
	&__text {
		max-width: 600px;
		padding: 15px;
		z-index: 10;
		font-size: 32px;
		line-height: 137%;
		display: flex;
		align-items: center;
		@media (max-width: 1920px){
			padding: 0.781vw 0.781vw 0.781vw 15px;
			font-size: 1.667vw;
		}
		@media (max-width: 992px){
			font-size: 16px;
		}
		@media (max-width: 768px){
			font-size: 20px;
			text-align: center;
			padding-right: 15px;
		}
		@media (max-width: 500px){
			font-size: 16px;
		}
	}
	&__slider {
		@media (max-width: 768px){
			padding-left: 15px;
		}
		& img {
			z-index: 10;
			border-radius: 30px 0 0 30px;
			@media (max-width: 1920px){
				max-width: 49.167vw;
			}
			@media (max-width: 768px){
				max-width: 100%;
				height: auto;
			}
		}	
	}
	&__video {
		max-width: 100%;
		width: 45vw;
		height: 29.89vw;
		border-radius: 30px;
		overflow: hidden;
		@media (max-width: 768px){
			border-radius: 15px;
			padding: 15px 25px;
			height: 55.1vw;
			width: 100%;
		}
		@media (max-width: 500px){
			padding: 10px 20px
		}
		@media (max-width: 500px){
			padding: 5px 15px
		}
		& iframe {
			height: 100%;
			width: 100%;
			@media (max-width: 768px){
				border-radius: 15px;
			}
		}
	}
}
