.contact-us {
	background-color: #0C0700;
	&__container {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 30px;
		@media (max-width: 1920px){
			gap: 1.563vw;
		}
		@media (max-width: 768px){
			flex-direction: column-reverse;
			gap: 32px;
		}
	}
	&__map-wrapper {
		border-radius: 0px 30px 30px 0px;
		@media (max-width: 768px){
			border-radius: 0px 15px 15px 0px;
			padding-right: 5px;
		}
		& img {
			@media (max-width: 1920px){
				max-width: 47.708vw;
			}
			@media (max-width: 768px){
				max-width: 100%;
			}
		}
		& iframe {
			width: 1100px;
			height: 600px;
			border-radius: 30px;
			@media (max-width: 1920px){
				border-radius: 0px 30px 30px 0px;
				width: 60vw;
			}
			@media (max-width: 1400px){
				height: 40vw;
			}
			@media (max-width: 768px){
				border-radius: 15px;
				width: 90vw;
				height: 55vw;
			}
		}
	}
	&__content-wrapper {
		padding: 30px 100px;
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		gap: 50px;
		@media (max-width: 1920px){
			padding: 1.563vw 5.208vw;
			gap: 2.604vw;
		}
		@media (max-width: 768px){
			align-items: center;
			gap: 32px;
		}
	}
	&__title {
		color: #FFD28D;
		font-size: 60px;
		font-family: $mainFont;
		@media (max-width: 1920px){
			font-size: 3.125vw;
		}
		@media (max-width: 768px){
			font-size: 60px;
		}
		@media (max-width: 500px){
			font-size: 50px;
		}
		@media (max-width: 400px){
			font-size: 40px;
		}
	}
	&__address-container {
		font-family: $mainFont;
		text-transform: uppercase;
		display: flex;
		flex-direction: column;
		gap: 20px;
		color: #FFFFFF;
		font-size: 16px;
		@media (max-width: 992px){
			gap: 15px;
		}
		@media (max-width: 768px){
			font-size: 16px;
			gap: 16px;
			align-items: center;
		}
		@media (max-width: 500px){
			font-size: 14px;
		}
	}
	&__pointer-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		border: 1px solid #F6F1E8;
	}
	&__address-title {
		color: #FFD28D;
		font-size: 28px;
		@media (max-width: 1500px){
			font-size: 1.867vw;
		}
		@media (max-width: 768px){
			font-size: 28px;
		}
		@media (max-width: 600px){
			font-size: 23px;
		}
		@media (max-width: 500px){
			font-size: 20px;
		}
	}
	&__address {
	}
	&__email {
	}
	&__phone {
	}
	&__bottom-subtitle {
		border-top: 1px solid #FFD28D;
		border-bottom: 1px solid #FFD28D;
		& div {
			padding: 15px;
			font-size: 20px;
			color: #FFFFFF;
			&:hover {
				cursor: pointer;
				color: #ffdb3d;
				transition: all 0.3s ease 0s;
			}
			@media (max-width: 992px){
				font-size: 18px;
				padding: 10px 15px;
			}
			@media (max-width: 768px){
				font-size: 16px;
				padding: 10px 15px;
			}
		}
	}
}

