.opening-hour {
	background-color: #0C0700;
	&__container {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 30px;
		@media (max-width: 1920px){
			gap: 1.563vw;
		}
		@media (max-width: 768px){
			flex-direction: column-reverse;
			gap: 32px;
		}
	}
	&__image-wrapper {
		@media (max-width: 768px){
			padding-right: 15px;
		}
	}
	&__image {
		border-radius: 0px 30px 30px 0px;
		@media (max-width: 1920px){
			max-width: 46.563vw;
		}
		@media (max-width: 768px){
			max-width: 100%;
			height: auto;
			border-radius: 0px 15px 15px 0px;
		}
	}
	&__content-wrapper {
		padding: 30px 100px;
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		gap: 50px;
		@media (max-width: 1920px){
			padding: 1.563vw 5.208vw;
			gap: 2.604vw;
		}
		@media (max-width: 768px){
			align-items: center;
			gap: 32px;
		}
	}
	&__title {
		color: #FFD28D;
		font-size: 60px;
		font-family: $mainFont;
		@media (max-width: 1920px){
			font-size: 3.125vw;
		}
		@media (max-width: 768px){
			font-size: 48px;
			text-align: center;
		}
	}
	&__subtitle {
		color: #F6F1E8;
		font-size: 20px;
		line-height: 120%;
		@media (max-width: 1200px){
			font-size: 18px;
		}
		@media (max-width: 1100px){
			font-size: 16px;
		}
	}
	&__schedule {
		font-family: $mainFont;
		font-size: 24px;
		text-transform: uppercase;
		display: flex;
		flex-direction: column;
		gap: 20px;
		color: #FFFFFF;
		@media (max-width: 1200px){
			font-size: 22px;
			gap: 15px;
		}
		@media (max-width: 1100px){
			font-size: 20px;
			gap: 10px;
		}
		@media (max-width: 768px){
			font-size: 24px;
		}
	}
	&__schedule-top-line {
		padding-bottom: 15px;
		border-bottom: 1px solid #FFD28D;
	}
	&__schedule-bottom-line {
	}
	&__bottom-subtitle {
		border-top: 1px solid #FFD28D;
		border-bottom: 1px solid #FFD28D;
		& div {
			padding: 15px;
			font-size: 20px;
			color: #FFFFFF;
			@media (max-width: 1100px){
				padding: 10px 15px;
				font-size: 18px;
			}
			@media (max-width: 768px){
				font-size: 20px;
			}
		}
	}
}

