.sabor-y-charla {
	background-color: $mainBgColor;
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 60px;
		justify-content: space-between;
		@media (max-width: 1920px){
			gap: 3.125vw;
		}
	}
	&__title {
		display: flex;
		justify-content: center;
		@media (max-width: 768px){
			font-size: 8.333vw;
			text-align: center;
			padding: 0px 15px;
		}
	}
	&__content {
		display: flex;
		justify-content: space-between;
		gap: 30px;
		width: 100%;
		@media (max-width: 1920px){
			gap: 1.563vw;
		}
		@media (max-width: 768px){
			flex-direction: column;
		}
	}
	&__text-wrapper {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		color: $mainFontColor;
		gap: 30px;
		max-width: 750px;
		padding: 30px;
		@media (max-width: 768px){
			padding: 15px;
		}
	}
	&__text-wrapper-top-text {
		font-family: $mainFont;
		font-size: 37px;
		line-height: 120%;
		text-transform: uppercase;
		@media (max-width: 1920px){
			font-size: 1.927vw;
		}
		@media (max-width: 768px){
			font-size: 3.125vw;
			text-align: center;
		}
	}
	&__text-wrapper-center-text {
		font-family: $decorFont;
		font-size: 90px;
		line-height: 140%;
		display: flex;
		gap: 30px;
		@media (max-width: 1920px){
			font-size: 4.688vw;
			gap: 1.563vw;
		}
		@media (max-width: 768px){
			width: 100%;
			font-size: 7.292vw;
			text-align: center;
			justify-content: center;
			flex-wrap: nowrap;
			&>*:first-child {
				word-wrap: break-word;
			}
			&>*:last-child {
				margin-left: 10px;
			}
		}
	}
	&__text-wrapper-bottom-text {
		font-family: $mainFont;
		font-size: 30px;
		line-height: 120%;
		@media (max-width: 1920px){
			font-size: 1.563vw;
		}
		@media (max-width: 768px){
			font-size: 2.604vw;
			text-align: center;
		}
	}
	&__image-wrapper {
		@media (max-width: 768px){
			padding-left: 16px;
		}
	}
	&__image {
		border-radius: 30px 0px 0px 30px;
		@media (max-width: 1920px){
			height: 39.063vw;
		}
		@media (max-width: 768px){
			width: 100%;
			height: auto;
		}
	}
}

