.sabor-y-charla {
	background-color: $mainBgColor;
	margin-top: 100px;
	border-top: 10px solid #383838;
	box-shadow: -3px 46px 45px -49px rgba(0,0,0,0.75) inset;
	-webkit-box-shadow: -3px 46px 45px -49px rgba(0,0,0,0.75) inset;
	-moz-box-shadow: -3px 46px 45px -49px rgba(0,0,0,0.75) inset;
	@media (max-width: 768px){
		margin-top: 0px;
	}
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 60px;
		justify-content: space-between;
		@media (max-width: 1920px){
			gap: 3.125vw;
		}
		@media (max-width: 768px){
			margin-top: 10px;
		}
	}
	&__title {
		margin-top: 15px;
		display: flex;
		justify-content: center;
		@media (max-width: 768px){
			font-size: 64px;
			text-align: center;
			padding: 0px 15px;
		}
		@media (max-width: 500px){
			font-size: 45px;
			line-height: 100%;
		}
	}
	&__content {
		display: flex;
		justify-content: space-between;
		gap: 30px;
		width: 100%;
		@media (max-width: 1920px){
			gap: 1.563vw;
		}
		@media (max-width: 768px){
			flex-direction: column;
		}
	}
	&__text-wrapper {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		color: $mainFontColor;
		gap: 30px;
		max-width: 750px;
		padding: 30px;
		@media (max-width: 768px){
			padding: 15px;
			gap: 20px;
		}
	}
	&__text-wrapper-top-text {
		font-family: $mainFont;
		font-size: 37px;
		line-height: 120%;
		text-transform: uppercase;
		@media (max-width: 1920px){
			font-size: 1.927vw;
		}
		@media (max-width: 768px){
			font-size: 24px;
			text-align: center;
		}
		@media (max-width: 500px){
			font-size: 18px;
		}
	}
	&__social-icons-wrapper {
		display: flex;
		gap: 25px;
		@media (max-width: 768px){
			width: 100%;
			justify-content: center;
		}
		& a {
			transition: all 0.3s ease 0s;
			& img {
				filter: invert(11%) sepia(19%) saturate(2920%) hue-rotate(7deg) brightness(96%) contrast(92%);
			}
			&:hover {
				cursor: pointer;
				opacity: 0.7;
				transition: all 0.3s ease 0s;
			}
		}
	}
	&__social-icon {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__instagram-icon {
		max-width: 45px;
		@media (max-width: 1100px){
			max-width: 40px;
		}
	}
	&__facebook-icon {
		max-width: 42px;
		border-radius: 15px;
		@media (max-width: 1100px){
			max-width: 37px;
		}
	}
	&__youtube-icon {
		max-width: 45px;
		@media (max-width: 1100px){
			max-width: 40px;
		}
	}
	&__telegram-icon {
		max-width: 39px;
		@media (max-width: 1100px){
			max-width: 34px;
		}
	}
	&__text-wrapper-center-text {
		font-family: $decorFont;
		font-size: 90px;
		line-height: 140%;
		display: flex;
		gap: 30px;
		@media (max-width: 1920px){
			font-size: 4.688vw;
			gap: 1.563vw;
		}
		@media (max-width: 768px){
			width: 100%;
			font-size: 56px;
			text-align: center;
			justify-content: center;
			flex-wrap: nowrap;
			&>*:first-child {
				word-wrap: break-word;
			}
			&>*:last-child {
				margin-left: 10px;
			}
		}
		@media (max-width: 500px){
			font-size: 45px;
		}
	}
	&__text-wrapper-bottom-text {
		font-family: $mainFont;
		font-size: 30px;
		line-height: 120%;
		@media (max-width: 1920px){
			font-size: 1.563vw;
		}
		@media (max-width: 768px){
			font-size: 20px;
			text-align: center;
		}
		@media (max-width: 500px){
			font-size: 16px;
		}
	}
	&__image-wrapper {
		@media (max-width: 768px){
			padding-left: 16px;
		}
	}
	&__image {
		border-radius: 30px 0px 0px 30px;
		@media (max-width: 1920px){
			height: 39.063vw;
		}
		@media (max-width: 768px){
			width: 100%;
			height: auto;
			border-radius: 15px 0px 0px 15px;
		}
	}
	&__video-wrapper {
		max-width: 100%;
		width: 100%;
		height: 29.89vw;
		border-radius: 30px 0px 0px 30px;
		overflow: hidden;
		@media (max-width: 768px){
			border-radius: 15px;
			padding: 15px 25px;
			height: 55.1vw
		}
		@media (max-width: 500px){
			padding: 10px 20px
		}
		@media (max-width: 500px){
			padding: 5px 15px
		}
		& iframe {
			height: 100%;
			width: 100%;
			@media (max-width: 768px){
				border-radius: 15px;
			}
		}
	}
}

