.tapas {
	background-color: $mainBgColor;
	&__container {
		display: flex;
		flex-direction: column;
		gap: 70px;
		@media (max-width: 1920px){
			gap: 3.646vw;
		}
		@media (max-width: 768px){
			padding-top: 120px;
			gap: 32px;
		}
		@media (max-width: 500px){
			gap: 15px;
		}
	}
	&__title {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	&__slider {
	}
}

